<html>
    <body>
        {% for messageType, messages in messagesByType %}
            {{ ('batch_jobs.mail_notification.types.' ~ messageType) | trans }}
            <ul>
                {% for message in messages %}
                    <li>{{ message.identifier }} : {{ message.content }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        {% if notImportedProducts is not empty %}
            {{ 'batch_jobs.mail_notification.not_imported_products' | trans }}
            <ul>
                {% for notImportedProduct in notImportedProducts %}
                    <li>{{ notImportedProduct }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
